
li{
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border: 1px black solid;
}

ul li:nth-child(odd){
    clear: left;
}

li a {
    text-decoration: none;
    color: purple;
    font-size: 1.5rem;
}

li {
    display: none;
}

ul li:nth-child(1) {
    display: flex;
}

ul:hover li{
    display: flex;
}
